@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}
#tribute-link {
  color: #477ca7;
}
h2{
  font-size: 1.1rem;
}
h3 {
  display: inline;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
}
#title {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#image {
  max-width: 100%;
  height: auto;
}
#img-div {
  width: 95%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
#img-caption {
  text-align: center;
  margin: 20px 0;
}
#tribute-info {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
}
#foot {
  margin: 20px auto;
}
@media (max-width: 400px) {
  #img-caption {
    text-align: start;
  }
}